.prose {
  color: #333;
}

.dark .prose {
  color: #ccc;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  color: #1a1a1a; /* Darker color for headings in light mode */
}

.dark .prose h1, .dark .prose h2, .dark .prose h3, .dark .prose h4, .dark .prose h5, .dark .prose h6 {
  color: #eee; /* Lighter color for headings in dark mode */
}